@page "/simulation"
@using TournamentLibrary.Goals
@using TournamentLibrary.Tables
@using TournamentLibrary.Types
@using TournamentWebTest.Components
@using TournamentWebTest.Model
@using TournamentWebTest.Services
@using TournamentLibrary.Matches;
@using TournamentLibrary.Teams;
@using TournamentLibrary.Groups;
@using TournamentLibrary;
@using Utilities;
@inject IBackupFileService Backup
@implements IDisposable
@inject SimulationService Service

<details open class="mb-3">
    <summary class="fw-bold fs-5">
        Turnier erstellen/laden/speichern
        <span class="text-muted fs-6 ms-2">
            (zum Ein- / Ausklappen)
        </span>
    </summary>
    <span class="fw-bold">Das Laden einer Datei kann ein paar Sekunden dauern!</span>
    <button class="btn btn-primary" @onclick="SaveTournament">Turnier speichern</button>
    <InputFile OnChange="LoadTournament" accept="application/json" />

    <select class="form-select form-select-sm"
            style="width: 180px;"
            @bind="tournamentMode">

        @foreach (var round in AvailableModes)
        {
            <option value="@round">
                @round
            </option>
        }
    </select>
    <button class="btn btn-primary" @onclick="@(() => CreateTournament())">Turnier erstellen</button>
    <span class="fw-bold">Status Turnier:</span>
    <span class="form-label mb-1" style="width: 90px;">@TournamentStatus</span>
</details>

<details open class="mb-3">
    <summary class="fw-bold fs-5">
        Spielsteuerung
        <span class="text-muted fs-6 ms-2">
            (zum Ein- / Ausklappen)
        </span>
    </summary>

    <MatchControl @ref="_matchControl"
                  CurrentMatch="@Service.Tournament?.CurrentMatch"
                  OnNextMatch="@(() => { SetNextMatchHandler(); RefreshLists(); return Task.CompletedTask; })"
                  OnStart="@(() => { Service.StartMatch(); RefreshLists(); return Task.CompletedTask; })"
                  OnPause="@(() => { Service.PauseMatch(); return Task.CompletedTask; })"
                  OnContinue="@(() => { Service.ContinueMatch(); return Task.CompletedTask; })"
                  OnStop="@(() => { Service.StopMatch(); return Task.CompletedTask; })"
                  OnAddGoalTeamA="@(() => { Service.AddGoal(true); RefreshLists(); return Task.CompletedTask; })"
                  OnRemoveGoalTeamA="@(() => { Service.RemoveGoal(true); RefreshLists(); return Task.CompletedTask; })"
                  OnAddGoalTeamB="@(() => { Service.AddGoal(false); RefreshLists(); return Task.CompletedTask; })"
                  OnRemoveGoalTeamB="@(() => { Service.RemoveGoal(false); RefreshLists(); return Task.CompletedTask; })"
                  OnSimulate="@(() => { Service.SimulateCurrentMatch(); RefreshLists(); return Task.CompletedTask; })"
                  OnSimulateStage1="@(() => { Service.SimulateStage1(); RefreshLists(); return Task.CompletedTask; })"
                  OnSimulateStage2="@(() => { Service.SimulateStage2(); RefreshLists(); return Task.CompletedTask; })"
                  OnSimulatePlayoffs="@(() => { Service.SimulatePlayoffs(); RefreshLists(); return Task.CompletedTask; })"
                  OnApplyResult="@(((int, int)item) => { Service.SetResult(item.Item1, item.Item2); RefreshLists(); return Task.CompletedTask; })"
                  OnSetTimeTo5s="@(() => { Service.SetMatchTo5s(); RefreshLists(); return Task.CompletedTask;})" />
    <button class="btn btn-outline-danger w-50"
            @onclick="(() => { Service.SimulateStage1(); RefreshLists(); return Task.CompletedTask; })">
        Stage 1 simulieren (nur wenn Stage 2 / Playoffs nicht gestartet)
    </button>
    <button class="btn btn-outline-danger w-50"
            @onclick="(() => { Service.SimulateStage2(); RefreshLists(); return Task.CompletedTask; })">
        Stage 2 simulieren (nur wenn Stage 1 beendet / Playoffs nicht gestartet)
    </button>
</details>

@* Turnierdetails *@
<div class="details-grid">
    <details open class="mb-3">
        <summary class="fw-bold fs-5">Spielpläne</summary>
        <details open class="mb-3">
            <summary class="fw-bold fs-5">Gesamt</summary>
            <ScheduleTable Matches="@ScheduleFull.MatchEntries"
                           TeamColors="TeamColors"
                           IsLocked="true"
                           OnScoreChanged="(() => {return;})" />
        </details>
        <details open class="mb-3">
            <summary class="fw-bold fs-5">Stage 1</summary>
            <ScheduleTable Matches="@ScheduleStage1.MatchEntries"
                           TeamColors="TeamColors"
                           IsLocked="true"
                           OnScoreChanged="(() => {return;})" />
        </details>
        <details open class="mb-3">
            <summary class="fw-bold fs-5">Stage 2</summary>
            <ScheduleTable Matches="@ScheduleStage2.MatchEntries"
                           TeamColors="TeamColors"
                           IsLocked="true"
                           OnScoreChanged="(() => {return;})" />
        </details>
        <details open class="mb-3">
            <summary class="fw-bold fs-5">Playoffs</summary>
            <ScheduleTable Matches="@ScheduleStageFinals.MatchEntries"
                           TeamColors="TeamColors"
                           IsLocked="true"
                           OnScoreChanged="(() => {return;})" />
        </details>
    </details>

    <details open class="mb-3">
        <summary class="fw-bold fs-5">Tabellen</summary>
        <details open class="mb-3">
            <summary class="fw-bold fs-5">Gruppen Stage 1</summary>
            @foreach (var table in TablesStage1)
            {
                <GroupTable Title="@table.Name"
                            Entries="@table.Entries"
                            TeamColors="@TeamColors" />
            }
        </details>
        <details open class="mb-3">
            <summary class="fw-bold fs-5">Gruppen Stage 2</summary>
            @foreach (var table in TablesStage2)
            {
                <GroupTable Title="@table.Name"
                            Entries="@table.Entries"
                            TeamColors="@TeamColors" />
            }
        </details>
        <details open class="mb-3">
            <summary class="fw-bold fs-5">Abschlusstabelle</summary>
            <FinalTable Title="Abschlusstabelle"
                        Entries="@FinalTable"
                        TeamColors="@TeamColors" />
        </details>
    </details>


</div>


@code {

    private string TournamentStatus => Service.Tournament != null ? Service.Tournament.Name : "Kein Turnier geladen";
    private MatchControl? _matchControl;
    private Dictionary<Team, string> TeamColors = new Dictionary<Team, string>();
    private TournamentMode tournamentMode = AvailableModes[0];
    private static readonly TournamentMode[] AvailableModes =
    {
        TournamentMode.Bwk2026,
        TournamentMode.HartmutLayerCup2026,
    };

    private List<WebGroup> TablesStage1 = new();
    private List<WebGroup> TablesStage2 = new();
    private List<FinalTableItem> FinalTable = new();
    private WebSchedule ScheduleFull = new();
    private WebSchedule ScheduleStage1 = new();
    private WebSchedule ScheduleStage2 = new();
    private WebSchedule ScheduleStageFinals = new();

    protected override void OnInitialized()
    {
        Service.StateChanged += OnStateChanged;
    }

    private void OnStateChanged()
    {
        //RefreshLists();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
        => Service.StateChanged -= OnStateChanged;

    private void SetNextMatchHandler()
    {
        var match = Service.SetNextMatch();
        // _matchControl?.SetMatch(match);
    }

    private void CreateTournament()
    {
        var tmp = Service.Tournament;
        Service.CreateTournament(tournamentMode);
        Console.WriteLine($"Turnier erstellen...");
        InitTournament(Service.Tournament, tmp);
    }

    private void InitTournament(Tournament tournament, Tournament tmp)
    {
        if (Service.Tournament != null && tmp != Service.Tournament)
        {
            if (tmp != null)
            {
                tmp.MatchTimer_Tick -= MatchTimer_Tick;
                tmp.CurrentMatch_StateChanged -= CurrentMatch_StateChanged;
            }

            Service.Tournament.MatchTimer_Tick += MatchTimer_Tick;
            Service.Tournament.CurrentMatch_StateChanged += CurrentMatch_StateChanged;

            TeamColors.Clear();
            for (int i = 0; i < Service.Tournament.Teams.Count; i++)
            {
                TeamColors.Add(Service.Tournament.Teams[i], Utilities.Colors.TeamColors[i]);
            }

            TablesStage1.Clear();
            foreach (var group in Service.Tournament.GroupStage1.Groups)
            {
                TablesStage1.Add(new WebGroup(group));
            }

            TablesStage2.Clear();
            foreach (var group in Service.Tournament.GroupStage2.Groups)
            {
                TablesStage2.Add(new WebGroup(group));
            }
            Service.Tournament.GetScheduledMatches().RefreshScheduleList(ScheduleFull.MatchEntries, false);
            Service.Tournament.GroupStage1.Fixtures.RefreshScheduleList(ScheduleStage1.MatchEntries, false);
            Service.Tournament.GroupStage2.Fixtures.RefreshScheduleList(ScheduleStage2.MatchEntries, false);
            Service.Tournament.FinalStage.GetFixtures().RefreshScheduleList(ScheduleStageFinals.MatchEntries, false);
            RefreshLists();
            Console.WriteLine($"Turnier erstellt...");
        }
    }

    private void CurrentMatch_StateChanged(object sender, TournamentLibrary.Matches.State state)
    {
        RefreshLists();
    }

    /// <summary>
    /// Alle Listen updaten
    /// </summary>
    private void RefreshLists()
    {
        Service.Tournament.ForceModeHandlerTournamentProgress();
        ScheduleFull.MatchEntries.RefreshMatches();
        ScheduleStage1.MatchEntries.RefreshMatches();
        ScheduleStage2.MatchEntries.RefreshMatches();
        ScheduleStageFinals.MatchEntries.RefreshMatches();


        foreach (var item in TablesStage1)
        {
            item.Refresh();
        }
        foreach (var item in TablesStage2)
        {
            item.Refresh();
        }

        var finalTable = Service.Tournament.GetFinalTable();
        FinalTable.Clear();
        Console.WriteLine($"FinalTable: {finalTable.Count}");
        foreach(var item in finalTable)
        {
            FinalTable.Add(new FinalTableItem((int)item.Place, item.Team));
        }
    }

    private void MatchTimer_Tick(object sender, TimeSpan e)
    {
        //Console.WriteLine($"Timestamp updated: {e}");
        _matchControl?.SetTimestamp(e);
    }

    private async Task LoadTournament(InputFileChangeEventArgs e)
    {
        try
        {
            var file = e.File;
            Console.WriteLine($"file = NULL ? {file == null}");
            if (file is null) 
                return;

            var tourFile = await Backup.LoadAsync<TournamentFileComplete>(file);
            Console.WriteLine($"tourFile = NULL ? {tourFile == null}");
            Console.WriteLine($"tourFile.File = NULL ? {tourFile.File == null}");
            Console.WriteLine($"tourFile.LinkedFiles = NULL ? {tourFile.LinkedFiles == null}");

            var tournament = tourFile.GetTournament();
            var tmp = Service.Tournament;
            Console.WriteLine($"tournament = NULL ? {tournament == null}");
            if (tourFile != null)
                Service.SetNewTournament(tournament);

            Console.WriteLine($"Service.Tournament = NULL ? {Service.Tournament == null}");
            InitTournament(Service.Tournament, tmp);
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Fehler beim Laden des Turniers: {ex.Message}");
        }
    }

    private async void SaveTournament()
    {
        if (Service.Tournament == null)
            return;

        var file = new TournamentFileComplete(Service.Tournament);
        await Backup.SaveAsync(file, $"{Service.Tournament.Name} {DateTime.Now:HH-mm-ss}.json");
    }
}
