@using TournamentLibrary.Matches
@using TournamentLibrary.Teams
@using TournamentWebTest.Model
<table class="table table-bordered table-sm">
    <thead class="table-light">
        <tr>
            <th>Nr</th>
            <th>Gruppe</th>
            <th>Name A</th>
            <th>Name B</th>
            <th>Score A</th>
            <th>Score B</th>
            <th>Siegtor in GG Runde</th>
            <th>Siegtor in GG in Sekunde</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Matches)
        {
            <tr>
                <td>@match.GameNumber</td>
                <td>@match.Group</td>
                <td style="background-color:@GetColor(match.TeamA)">
                    @match.NameTeamA
                </td>
                <td style="background-color:@GetColor(match.TeamB)">
                    @match.NameTeamB
                </td>
                <td>
                    <input type="number"
                           class="form-control form-control-sm"
                           style="width: 60px;"
                           min="0"
                           value="@match.ScoreA"
                           disabled="@IsLocked"
                           @oninput="(e) => OnScoreChanged.InvokeAsync((e, match, true))" />
                </td>
                <td>
                    <input type="number"
                           class="form-control form-control-sm"
                           style="width: 60px;"
                           min="0"
                           value="@match.ScoreB"
                           disabled="@IsLocked"
                           @oninput="(e) => OnScoreChanged.InvokeAsync((e, match, false))" />
                </td>
                <td>
                    <input type="number"
                           class="form-control form-control-sm"
                           style="width: 60px;"
                           min="0"
                           max="3"
                           value="@match.GoldenGoalRound"
                           disabled="@IsLocked"
                           @oninput="(e) => OnGoldenGoalRoundChanged.InvokeAsync((match, e))" />
                </td>
                <td>
                    <input type="number"
                            class="form-control form-control-sm"
                            style="width: 60px;"
                            min="1"
                            max="59"
                            disabled="@IsLocked"
                            @bind-value="match.GoldenGoalSecond"
                            @oninput="(e) => OnGoldenGoalSecondChanged.InvokeAsync((match, e))" />
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<MatchEntry> Matches { get; set; } = Array.Empty<MatchEntry>();

    [Parameter, EditorRequired]
    public Dictionary<Team, string> TeamColors { get; set; } = new();

    [Parameter]
    public bool IsLocked { get; set; }

    // Tuple: (ChangeEventArgs e, Match match, bool isTeamA)
    [Parameter, EditorRequired]
    public EventCallback<(ChangeEventArgs, MatchEntry, bool)> OnScoreChanged { get; set; }

    // Tuple: (ChangeEventArgs e, Match match, bool isTeamA)
    [Parameter, EditorRequired]
    public EventCallback<(MatchEntry, ChangeEventArgs)> OnGoldenGoalRoundChanged { get; set; }

    // Tuple: (ChangeEventArgs e, Match match, bool isTeamA)
    [Parameter, EditorRequired]
    public EventCallback<(MatchEntry, ChangeEventArgs)> OnGoldenGoalSecondChanged { get; set; }

    private string GetColor(Team teamKey)
    {
        if (teamKey == null)
            return "white";

        return TeamColors.TryGetValue(teamKey, out var c) ? c : "white";
    }

}